.gradiente-recomendaciones{
    background-image:linear-gradient(to top,#1a754f85,#d9e2d9 )
}
.imagen-recomendaciones{
    width: 320px;
    height: 550px;
    border-radius: 10px;
    margin: 5px, solid, white;
    transform: translate();
    padding-bottom: 5px;
}
.icono-pagina{
    animation-name:icono-pagina;
    animation-duration: 2s ;
}
h2{
    @include h2;
}
.navescritorio{
    margin: 0px;
}
.imagenes-recomendaciones-desk{
    display: grid;
    margin: 0px auto;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@keyframes icono-pagina{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
